@import dtos.MultiplexDto
@(multiplexForm : Form[MultiplexDto])(implicit request: Http.Request, messages: play.i18n.Messages)
@import helper._

@common("Add Multiplex"){
@helper.form(action = routes.MultiplexController.save()) {
<fieldset>
  <legend>Multiplex</legend>
  @* CSRF TOKEN SUPPORT *@
  @helper.CSRF.formField
  @helper.inputText(multiplexForm("multiplexname"), Symbol("_label") -> "Mutiplex Name", Symbol("placeholder") -> "Mutiplex Name")
  @helper.inputText(multiplexForm("address"), Symbol("_label") -> "Address", Symbol("placeholder") -> "Address")
  @helper.inputText(multiplexForm("numberofscreens"), Symbol("_label") -> "Number Of Screens", Symbol("placeholder") -> "Number Of Screens")
  @helper.inputText(multiplexForm("screename"), Symbol("_label") -> "Screen Name", Symbol("placeholder") -> "Screen Name")
  <input type="submit" value="SAVE" />
</fieldset>
}
}
